[Unit]
Description=mp3pi Kivy App
After=pulseaudio.service

[Service]
#Type=forking
ExecStart=/usr/bin/python mp3.py
Environment=XDG_RUNTIME_DIR=/run/user/0
RestartSec=5
Restart=always
WorkingDirectory=/root/mp3pi

[Install]
WantedBy=multi-user.target
